In [23]:
import numpy as np

In [27]:
arr = np.random.randint(1, 100, 50)
arr = arr.reshape(10, 5)  #this will reshape the arr(from 1D to 2D here) 10*5 should be equal to no. of elements in arr

In [28]:
arr.shape

(10, 5)

In [29]:
arr.ndim #dimension?

2

In [30]:
arr

array([[47, 73, 74, 53,  9],
       [28, 73, 16, 35, 95],
       [75, 65, 66, 58, 26],
       [42, 92,  7, 17, 64],
       [58, 23, 90, 53, 81],
       [62, 23,  3, 74, 97],
       [79, 41, 82, 81, 32],
       [57, 98, 77, 12,  2],
       [78, 63, 65, 34, 46],
       [72, 48, 22, 83, 57]])

In [31]:
arr = arr.reshape(2, 5, 5)  #this will reshape the arr in 3D
arr

array([[[47, 73, 74, 53,  9],
        [28, 73, 16, 35, 95],
        [75, 65, 66, 58, 26],
        [42, 92,  7, 17, 64],
        [58, 23, 90, 53, 81]],

       [[62, 23,  3, 74, 97],
        [79, 41, 82, 81, 32],
        [57, 98, 77, 12,  2],
        [78, 63, 65, 34, 46],
        [72, 48, 22, 83, 57]]])

In [32]:
arr = np.arange(1, 111)  #array of from 1 to 110
arr.size

110

In [33]:
arr.reshape(5, -1)  #-1 means col of array will be automatically calculated with row as 5

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20,  21,  22],
       [ 23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,
         36,  37,  38,  39,  40,  41,  42,  43,  44],
       [ 45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,
         58,  59,  60,  61,  62,  63,  64,  65,  66],
       [ 67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,
         80,  81,  82,  83,  84,  85,  86,  87,  88],
       [ 89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101,
        102, 103, 104, 105, 106, 107, 108, 109, 110]])

In [34]:
arr.reshape(-1, 5)  #same for rows

array([[  1,   2,   3,   4,   5],
       [  6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15],
       [ 16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25],
       [ 26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35],
       [ 36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45],
       [ 46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55],
       [ 56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65],
       [ 66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75],
       [ 76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85],
       [ 86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95],
       [ 96,  97,  98,  99, 100],
       [101, 102, 103, 104, 105],
       [106, 107, 108, 109, 110]])