In [1]:
import pandas as pd

In [2]:
dic = { 1: 'one', 3: 'three', 2: 'two', 4:'four'}

In [3]:
ser = pd.Series(dic, name="numbers")

In [4]:
ser

1      one
3    three
2      two
4     four
Name: numbers, dtype: object

In [5]:
ser.sort_index()

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [6]:
ser.sort_index(ascending=False)  #this will only output the sorted series but won't sort the actual series

4     four
3    three
2      two
1      one
Name: numbers, dtype: object

In [7]:
ser.sort_index(ascending=True, inplace=True)  #now actual series will get sorted by using inplace=True

In [8]:
ser

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [9]:
ser.sort_values()

4     four
1      one
3    three
2      two
Name: numbers, dtype: object

In [10]:
ser.sort_values(ascending=False, inplace = True)
ser

2      two
3    three
1      one
4     four
Name: numbers, dtype: object

In [11]:
#covert series to list/array
ser.tolist()

['two', 'three', 'one', 'four']